<div class="form-group">
  <%= f.label :labels %>
  <%= f.text_field :labels,
                          class: 'form-control',
                          placeholder: "Enter labels (sparated ny commas)",
                          value: labels.map(&:name)join(' ,') %>
</div>
