<h1>Sign Up Confirmation</h1>
<p>Are you sure these values are correct?</p>
<div>
  <h4 class="media-heading">
      Email:  @user.email
      Name: @user.name
  </h4>
</div>
<div class="form-group">
  <%= button_to "Yes", {:controller => "users", :action => "create", :params => params}, class: 'btn btn-success' %>
</div>

<div class="form-group">
  <%= link_to "No", new_session_path %>
</div>
