<h1>Sign Up Confirmation</h1>
<p>Are you sure these values are correct?</p>
<div>
  <h4 class="media-heading">
      Email:  <%= f.label :email %>
      Name: <%= f.label :name %>
  </h4>
</div>
<div class="form-group">
  <%= f.submit "Yes", class: 'btn btn-success' %>
</div>
